.img-carousel-container {
    background-color: purple;
    width: 100%;
    padding-top: 62.5%/*66.66%/*75%;/*56.25%*/;
    position: relative;
  }
  
  .img-carousel-img {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  .img-carousel-img.img-carousel-img-transparent {
    opacity: 0;
  }
  
  .img-carousel-left-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    background-color: rgba(63,63,63,.1);
    height: 64px;
    width: 52px;
    transform: translateY(-50%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  } .img-carousel-left-arrow:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.2);
  } .img-carousel-left-arrow span {
    font-size: 46px;
    color: rgba(255,255,255,.3);
    position: absolute;
    transform: translateY(50%);
  } .img-carousel-left-arrow span:hover {
    color: rgba(255,255,255,.8);
  }
  
  .img-carousel-right-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(63,63,63,.1);
    height: 64px;
    width: 52px;
    transform: translateY(-50%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  } .img-carousel-right-arrow:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.2);
  } .img-carousel-right-arrow span {
    font-size: 46px;
    color: rgba(255,255,255,.3);
    position: absolute;
    transform: translate(8px,50%);
  } .img-carousel-right-arrow span:hover {
    color:rgba(255,255,255,.8);
  }
  
  .img-carousel-dots-container {
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
  } 
  .img-carousel-dot {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: rgba(255,255,255,.3);
  } .img-carousel-dot:hover {
    cursor: pointer;
  }
  .img-carousel-dot-active {
    background-color:rgba(255,255,255,.8) !important;
  }
  
  .img-carousel-img-urls {
    display: none;
  }
  .img-carousel-img-captions {
    display: none;
  }